html, body{
    margin: 0px;
    height: 100%;
}

html{
    font-size: 15px;
}

#root{
    height: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.main-block{
    width: 100%;
}

.main-viewport{
    width: 100%;
}

.load-block {
    height: 590px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.load-half {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaded_files {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.control_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timecode-container{

}

.timecode{

}

.history-block{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-elem{
    display: flex;
    flex-direction: row;
}